<!-- 关于MMall -->
<!DOCTYPE html>
<html>
    <head>
    <%= require('html-loader!./layout/head-common.html')%>
    <title><%= htmlWebpackPlugin.options.title %> - MMall电商平台</title>
    </head>
<body>
    <%= require('html-loader!./layout/nav.html')%>          <!-- 登录，注册，购物车，我的MMall，关于MMall -->
    <%= require('html-loader!./layout/header.html')%>       <!-- 带搜索框的login -->
    <!-- 面包屑 -->
    <div class="crumb">
        <div class="w">
            <div class="crumb-con">
                <a href="./index.html" class="link">MMall</a>
                <span>></span>
                <span class="link-text"><%= htmlWebpackPlugin.options.title %></span>
            </div>
        </div>
    </div>
    <div class="page-wrap w">
        <%=require('html-loader!./layout/nav-side.html') %>  <!-- 左侧导航 -->
        <div class="content with-nav">
            <div class="panel">
                <div class="panel-title">关于MMall</div>
                <div class="panel-body">
                    <ul class="title-con">
                        <span class="text-con title">
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;JPMall电商系统是一个前后端完全分离的大型企业级电商项目，后端采用的是ssm框架结构，前端是采用nodejs开发环境下开发,该网站有一套完整的电商流程，从买家的购物付款支付，到卖家的商品上下架，商品发货功能等。<br/>
                            </p><br/>
                        </span>
                        <!--<span class="text-con">
                            前端源码Git地址：<a class="link" href="https://gitee.com/ZGan/mmall-fe" target="_blank">点击这里>></a><br/>
                        </span>
                        <span class="text-con">
                            后台源码v1.0 Git地址：<a class="link" href="https://gitee.com/ZGan/mmall/tree/v1.0/" target="_blank">点击这里>></a><br/>
                        </span>
                        <span class="text-con">
                            后台源码v2.0 Git地址：<a class="link" href="https://gitee.com/ZGan/mmall/tree/v2.0/" target="_blank">点击这里>></a><br/>
                        </span>
                        <span class="text-con">
                            接口地址：<a class="link" href="https://gitee.com/ZGan/mmall/wikis/Home" target="_blank">点击这里>></a><br/>
                        </span>-->
                        <div class="text-con">
                            支付模块采用的是支付宝沙箱环境模拟支付：
                            <span  class="link cs-a" >测试买家账户>></span>
                            <span  class="link cs-b" >测试卖家账户>></span>
                            <br/>
                        </div>
                        <span class="text-con">
                            支付宝沙箱安卓下载：<br/>
                            <div class="img">
                                <img class="img-con" src="<%= require('../image/Pay_App.png') %>" alt="支付宝沙箱二维码" />
                            </div>
                        </span>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!./layout/footer.html')%>       <!-- 底部链接，版权 -->
</body>
</html>