<!-- 购物车模块 -->
<!DOCTYPE html>
<html>
	<head>
	<%= require('html-loader!./layout/head-common.html')%>
	<title><%= htmlWebpackPlugin.options.title %> - MMall电商平台</title>
	</head>
<body>
	<%= require('html-loader!./layout/nav.html')%>			<!-- 登录，注册，购物车，我的MMall，关于MMall -->
	<%= require('html-loader!./layout/header.html')%>		<!-- 带搜索框的login -->
	<!-- 面包屑 -->
	<div class="crumb">
		<div class="w">
			<div class="crumb-con">
				<a href="./index.html" class="link">MMall</a>
				<span>></span>
				<span class="link-text"><%= htmlWebpackPlugin.options.title %></span>
			</div>
		</div>
	</div>
	<div class="page-wrap w">
		
	</div>
	<%= require('html-loader!./layout/footer.html')%>		<!-- 底部链接，版权 -->
</body>
</html>