<!-- 订单列表  -->
<!DOCTYPE html>
<html>
    <head>
    <%= require('html-loader!./layout/head-common.html')%>
    <title><%= htmlWebpackPlugin.options.title %> - MMall电商平台</title>
    </head>
<body>
    <%= require('html-loader!./layout/nav.html')%>          <!-- 登录，注册，购物车，我的MMall，关于MMall -->
    <%= require('html-loader!./layout/header.html')%>       <!-- 带搜索框的login -->
    <!-- 面包屑 -->
    <div class="crumb">
        <div class="w">
            <div class="crumb-con">
                <a href="./index.html" class="link">MMall</a>
                <span>></span>
                <span class="link-text"><%= htmlWebpackPlugin.options.title %></span>
            </div>
        </div>
    </div>
    <div class="page-wrap w">
        <%=require('html-loader!./layout/nav-side.html') %>  <!-- 左侧导航 -->
        <div class="content with-nav">
            <div class="panel">
                <div class="panel-title"><%= htmlWebpackPlugin.options.title %></div>
                <div class="panel-body">
                    <!-- 列表容器 -->
                    <div class="order-list-con">
                        
                    </div>
                    <!-- 分页容器 -->
                    <div class="pagination">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= require('html-loader!./layout/footer.html')%>       <!-- 底部链接，版权 -->
</body>
</html>