/*  个人中心 */
.user-info .form-line{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	
}
.from-line .label{
	display: inline-block;
	width: 100px;
	text-align: center;
	margin-bottom: 15px;
	margin-right: 5px;
}
.btn.btn-submit{
	margin-left: 30px;
}