/* 底部footer链接 */
.footer{
	padding-bottom: 10px;
}
.footer .links{
	text-align: center;
	color: #666;
	line-height: 30px;
}
.fonter .links .link{
	padding: 0 20px;
}
.footer .copyright{
	text-align: center;
	color: #666;
	line-height: 30px;
}
