<!-- 底部链接，版权 -->
<div class="footer">
	<div class="w">
		<div class="links">
			<a href="https://www.baidu.com" target="_blank" class="link">
				百度
			</a> 丨
			<a href="http://www.taobao.com" target="_blank" class="link">
				淘宝
			</a> 丨
			<a href="http://www.zhihu.com" target="_blank" class="link">
				知乎
			</a>
		</div>
		<p class="copyright">
			
		</p>
		<p class="copyright">
			Copyright © 2017 Meganmmall.com All Right Reserved
		</p>
	</div>
</div>
<script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>